
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List news</title>
<th:block th:insert="/import_head.html :: import"></th:block>
<style type="text/css">
.search-area {
	display: inline-block;
}
</style>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- Navigation -->
		<th:block th:insert="navigation.html :: navigation"></th:block>

		<!-- Content -->
		<div id="page-wrapper">
			<div class="row">
				<div class="container">
					<h3>
						<a th:href="@{/add-user}">Create User</a>
					</h3>
					<table class="table">
						<thead class="table table-bordered">
							<tr>
								<th>ID</th>
								<th>Email</th>
								<th>FullName</th>
								<th>Mobile</th>
								<th>Detail</th>
								<th>RoleId</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:utext="${user.userId}"></td>
								<td th:utext="${user.email}"></td>
								<td th:utext="${user.fullName}"></td>
								<td th:utext="${user.mobile}"></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="/import_script.html :: import"></th:block>
</body>
</html>

