<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="ModalMenu">
	<!-- .modal-edit -->
	<div class="modal fade" th:id="@{|edit${Menu.menu_id}|}" tabindex="-1"
		role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h4 class="modal-title custom_align" id="Heading">Edit Your
						Detail</h4>
				</div>
				<form th:action="@{/admin/menu/edit}" method="post">
					<div class="modal-body">
						<input name="id" type="text" required th:value="${Menu.menu_id}"
							hidden>
						<div class="form-group">
							Name<input class="form-control " name="name" id="iname" required
								type="text" th:value="${Menu.name}">
						</div>
						<div class="form-group">
							Desc <input class="form-control " id="iDesc" name="desc" required
								type="text" th:value="${Menu.description}">
						</div>
						<div class="form-group">
							Controller<input class="form-control " name="controll" required
								id="icontroller" type="text" th:value="${Menu.controller}">
						</div>
						<div class="form-group">
							Function<input class="form-control " name="function" required
								id="ifunction" type="text" th:value="${Menu.action}">
						</div>
					</div>
					<div class="modal-footer ">
						<button type="submit" class="btn btn-warning btn-lg"
							id="btn-update<%=i %>" style="width: 40%;">
							<span class="glyphicon glyphicon-ok-sign"></span> Update
						</button>
						<button type="button" class="btn btn-default btn-lg"
							style="width: 40%;" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-edit -->
	</div>

	<!-- /.modal-dialog delete -->
	<div class="modal fade" th:id="@{|delete${Menu.menu_id}|}"
		tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h4 class="modal-title custom_align" id="Heading">Delete this
						entry</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger">
						<span class="glyphicon glyphicon-warning-sign"></span> Are you
						sure you want to delete this Record?
					</div>
				</div>
				<div class="modal-footer ">
					<a th:href="@{|/admin/menu/delete/${Menu.menu_id}|}">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok-sign"></span> Yes
						</button>
					</a>

					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> No
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal-delete -->
</th:block>