<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add news</title>
<th:block th:insert="/import_head.html :: import"></th:block>
<style>
label.title {
	margin-top: 0.5%;
}

.mb5 {
	margin-bottom: 2% !important;
}
</style>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- Navigation -->
		<th:block th:insert="navigation.html :: navigation"></th:block>

		<!-- Content -->
		<div id="page-wrapper">
			<div class="row">
				<h2 class="text-center text-danger">Add MenuRole</h2>

				<div class="align-center">
<!-- 					<span style="margin-left: 220px; color: red" th:text="${val}"></span> -->
					<span style="margin-left: 222px; color: red" th:text="${mess}"></span>
					<form th:action="@{/admin/menuRole/add-menuRole}" method="post" th:object="${menuRole}">
						<div class="form-group">
							<label class="col-sm-2 control-label title">Status: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Status"
									required="required" th:field="*{status}" />
								<p style="color: red" class="mb5">
<!-- 									<span th:if="${#fields.hasErrors('url')}" th:errors="*{url}">..</span> -->
								</p>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label title">Menu_Id: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Menu_id"
									required="required" th:field="*{menu}" />
								<p style="color: red" class="mb5">
								</p>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label title">Role_Id: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Role_id"
									required="required" th:field="*{role}" />
								<p style="color: red" class="mb5">
								</p>
							</div>
						</div>
						
						<div class="clearfix"></div>

						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a th:href="@{/admin/menuRole/list-menuRole}" class="btn btn-default">Cancel</a>
								<input type="submit" value="Create" class="btn btn-primary" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:insert="/import_script.html :: import"></th:block>
</body>
</html>