<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="import">
	<!-- jQuery -->
	<script type="text/javascript"
		th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/admin/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/admin/dist/js/sb-admin-2.min.js}"></script>
</th:block>