<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
<!-- 			<th>Id</th> -->
			<th>Menu_Id</th>
			<th>Role_Id</th>
			<th>Status</th>
			
			<th>Detail</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
		<tr th:each="menuRole : ${list}">
<!-- 			<td th:utext="${menuRole.id}"></td> -->
			<td th:utext="${menuRole.menu.menuId}"></td>
			<td th:utext="${menuRole.role.roleId}"></td>
			<td th:utext="${menuRole.status}"></td>
			
			<td><a th:href="@{|/detail-menuRole/${menuRole.menu}|}"> Detail</a></td>
			<td><a th:href="@{|/delete-menuRole/${menuRole.menu}|}"> Delete</a></td>
			<td><a th:href="@{|/update-menuRole/${menuRole.menu}|}"> Edit</a></td>
		</tr>
	</table>
	<a th:href="@{|/add-menuRole|}">ADD MENU_ROLE</a>
</body>
</html>